



img {
    max-height: 200px;
    width: auto;
    padding: 20px;
}

.image-results {
    display: flex;
}

h1 {
    color: rgb(204, 114, 78);


}

header>p {
    font-weight: bold;
}


.bold { 
    font-weight: bold;
}

body {


    background-color: papayawhip;

}