h1 {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    display: block;
    color: rgb(228, 136, 32);
}

img {
    object-fit: contain;
    max-height: 200px;
    height: 200px;
}

h5 {
    text-align: center;
    color: rgb(228, 136, 32);
}

p {
    text-align: center;
    color: rgba(0, 0, 0, 0.863);
}

.card {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
}

body {
    background-color: rgb(49, 46, 46);
}