body {
    background-color: #c5af67;
    background-image: url('media/flower1.png');
    background-size: cover;
    background-attachment: fixed;
}

.flowerbg {
    width: 100%;
    height: 100%;
}

.bird {
    width: 30px;
    height: 20px;
}

.card {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
}

.text-gray {
    font-weight: 400;
    color: gray;
}

.text-gray:hover {
    color: gray;
    opacity: 50%;
    text-decoration: none;
}