body {
    background-color: #c5af67;
    background-image: url('media/flower1.png');
    background-size: cover;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

.portfoliopic {
    height: 150px;
}

.bird {
    width: 30px;
    height: 20px;
}

.card {
    text-align: justify;
    margin-left: 2px;
    margin-right: 2px;
}

.h5flower {
    width: 20px;
    height: 30px;
    margin-left: 2px;
}

.text-gray {
    font-weight: 400;
    color: gray;
}

.text-gray:hover {
    color: gray;
    opacity: 50%;
    text-decoration: none;
}

.eyebutton {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    height: 40px;
    color: gray;
    vertical-align: middle;
}

.eyebutton:hover {
    color: gray;
    opacity: 50%;
}

.darken {
    color: gray;
}

.darken:hover {
    filter: brightness(90%);
    color: gray;
}

textarea {
    resize: none;
}